html , body {
  background-color: #B3B3B3;
  margin: 0;
  font-family: arial;
}
h1 {
  font-family: sans-serif;
  color: black;
  box-shadow: 0px 1px 20px #888888;
  background-color: #979797;
  padding: 40px;
}

#nav {
  width: 100%;
  float: right;

}

li {
  list-style-type: none;
  color: white;
  float: left;
  padding-right: 20px;
  float: right;
}

a:active {
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}
#forum{
  padding: 30px;
}
